.projects {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects__header {
	text-align: center;
	margin-top: 100px;
}

.projects__items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 770px) {
	.projects__items {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.projects {
		padding: 0;
	}
}
@media screen and (max-width: 380px) {
	.projects__items {
		padding: 50px 0px;
	}
}
