.contactbtn {
	border: none;
	position: fixed;
	right: 25px;
	bottom: 25px;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.57);
	border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	cursor: pointer;
	z-index: 9;
	transition: 0.3s;
}
.contactbtn:hover {
	background: rgba(255, 255, 255, 0.4);
}
.contactbtn img {
	width: 65px;
}
.modal span {
	font-weight: bold;
}
.modal a {
	color: rgb(204, 0, 255);
	font-weight: bold;
}
