.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: calc(100vh - 80px);
}
.hero > div {
	padding: 0 20px;
	z-index: 9;
}

.hero__info h2 {
	font-size: 40px;
}

.hero__info h1 {
	font-size: 70px;
	margin: 10px 0 20px;
}
.hero__info h4 {
	font-size: 20px;
}
.hero__info h4 span {
	text-decoration: overline rgba(53, 53, 53, 0.568);
}
.info__socials {
	display: flex;
	flex-wrap: wrap;
}
.info__socials > div {
	display: flex;
	margin-bottom: 10px;
}
.info__socials img {
	width: 20px;
	margin-right: 5px;
}
.info__socials a {
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.137);
	margin: 10px 10px 0 0;
	padding: 2px 5px;
	border-radius: 10px;
	color: rgb(0, 0, 0);
	transition: background-color 0.4s;
}
.info__socials a:hover {
	background-color: rgba(255, 255, 255, 0.445);
}
.hero__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 350px;
	clip-path: polygon(31% 0, 100% 35%, 100% 68%, 51% 100%, 0 66%);
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	transition: 0.3s;
}
.hero__image img {
	max-width: 300px;
	height: 300px;
	clip-path: polygon(31% 0, 100% 35%, 100% 68%, 51% 100%, 0 66%);
	transition: 0.3s;
}
.hero__image:hover {
	clip-path: polygon(70% 0, 100% 60%, 41% 100%, 0 66%, 0 27%);
	transform: scale(1.1);
}
.hero__image:hover img {
	clip-path: polygon(70% 0, 100% 60%, 41% 100%, 0 66%, 0 27%);
	transform: scale(1.07);
}
@media screen and (max-width: 770px) {
	.hero {
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		align-items: flex-end;
	}
	.hero__info h2 {
		font-size: 35px;
	}

	.hero__info h1 {
		font-size: 45px;
	}
	.hero__info h4 {
		font-size: 20px;
	}
	.hero__image img {
		width: 200px;
		height: 200px;
	}
	.hero__image {
		width: 250px;
		height: 250px;
	}
}
