.skills {
	min-height: 100vh;
	width: 100%;
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills__header {
	text-align: center;
	margin-top: 10px;
}
.skills__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

@media screen and (max-width: 750px) {
	.skills {
		padding: 0;
	}
}
