.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__back {
	background-color: rgba(0, 0, 0, 0.274);
	width: 100%;
	height: 100%;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}
.modal__content {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	background-color: white;
	border-radius: 15px;
	max-width: 400px;
	position: absolute;
	padding: 26px;
	margin: 10px;
}
.modal__closebtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
.modal__closebtn {
	width: 40px;
}
.modal__title {
	text-align: center;
	margin-bottom: 15px;
}

/* for modals in Components/Projects/projectCard */

.Modal__image {
	width: 100%;
	border-radius: 15px;
	margin-bottom: 10px;
}
.Modal__btns {
	text-align: center;
	margin-top: 20px;
}
.Modal__btns button {
	padding: 10px;
	width: 46%;
	margin: 4px;
	border: none;
}

.Modal__btns button {
	background: linear-gradient(-45deg, #4e54c8, #23a6d5);
	border-radius: 10px;
	color: white;
	cursor: pointer;
}
.Modal__btns button:hover {
	background: linear-gradient(-45deg, #393faa, #1283ac);
}
.Modal__btns a:nth-child(1) button {
	background: linear-gradient(-45deg, #c84ea9, #5223d5);
}
.Modal__btns a:nth-child(1) button:hover {
	background: linear-gradient(-45deg, #ad3e92, #441ab8);
}
