@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
}
html {
	scroll-behavior: smooth;
	overflow: overlay;
}
a {
	text-decoration: none;
}

/* background gradient */

body {
	background: linear-gradient(-45deg, #42275a, #642b73, #c6426e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBg 25s ease infinite;
	height: 100vh;
}

@keyframes gradientBg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* app container */
.app {
	position: relative;
	margin: auto;
	max-width: 1400px;
}

/* scrollbar */

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: rgba(44, 44, 44, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.7px);
	-webkit-backdrop-filter: blur(3.7px);
}

body::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: rgba(44, 44, 44, 0.37);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.7px);
	-webkit-backdrop-filter: blur(3.7px);
}

body::-webkit-scrollbar-thumb:hover {
	background: rgba(44, 44, 44, 0.6);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.7px);
	-webkit-backdrop-filter: blur(3.7px);
}
